<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/resources/css/footer.css" />
    <link rel="stylesheet" href="/resources/css/app.css" />
    <link rel="stylesheet" href="/resources/css/listadoPartida.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap"
      rel="stylesheet"
    />
    <script src="/jquery/jquery.min.js"></script>
    <script src="/resources/js/includeFooter.js"></script>
    <script
      src="/socket/client-dist/socket.io.js"
      crossorigin="anonymous"
    ></script>
    <title>Listado partidas</title>
  </head>
  <body>
    <main>
      <h1 class="d-flex justify-content-center p-2 mt-4">Partidas</h1>
      <div
        class="listadoPartida container bg-dark bg-gradient overflow-y-auto"
      ></div>
      <button type="submit" class="btn btn-outline-light" id="btnVolverAJugar">
        ¡Volver a jugar!
      </button>
    </main>
    <footer class="border-top align-content-center"></footer>
    <script src="/resources/js/vistas/listadoPartida.js"></script>
  </body>
</html>
