<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/resources/css/footer.css" />
    <link rel="stylesheet" href="/resources/css/app.css" />
    <link rel="stylesheet" href="/resources/css/listadoPartida.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap"
      rel="stylesheet"
    />
    <script src="/jquery/jquery.min.js"></script>
    <script src="/resources/js/includeFooter.js"></script>
    <script
      src="/socket/client-dist/socket.io.js"
      crossorigin="anonymous"
    ></script>
    <title>Listado partidas</title>
  </head>
  <body>
    <main>
      <h1 class="d-flex justify-content-center p-2 mt-4">Partidas</h1>
      <div
        class="listadoPartida container bg-dark bg-gradient overflow-y-auto"
      ></div>
    </main>
    <footer class="border-top align-content-center"></footer>
    <script type="text/javascript">
      var socket = io.connect();
      const listadoPartida = document.querySelector(".listadoPartida");

      document.addEventListener("DOMContentLoaded", async function () {
        try {
          const response = await fetch(
            "http://localhost:1234/api/obtenerPartidasVotacion"
          );
          const responseData = await response.json();
          if (!response.ok) {
            console.log("error en response");
          }
          if (responseData) {
            responseData.forEach((partida) => {
              const divLi = document.createElement("div");
              divLi.classList.add(
                "d-flex",
                "justify-content-around",
                "align-items-center",
                "p-2"
              );
              divLi.innerHTML = `
                <p>${partida.jugador1}</p>
                <p>VS</p>
                <p>${partida.jugador2}</p>`;
              const aVotar = document.createElement("a");
              const btnVotar = document.createElement("button");
              btnVotar.textContent = "Votar";
              btnVotar.classList.add("btn", "btn-outline-light");
              aVotar.setAttribute("href", "/api/votacion/" + partida._id);
              aVotar.classList.add("w-25");
              aVotar.appendChild(btnVotar);
              divLi.appendChild(aVotar);
              listadoPartida.appendChild(divLi);
            });
          }
        } catch (error) {
          console.error(error.message);
        }
      });

      socket.on("nuevaVotacion", function (data) {
        console.log(data);
        try {
          const divLi = document.createElement("div");
          divLi.classList.add(
            "d-flex",
            "justify-content-around",
            "align-items-center",
            "p-2"
          );
          divLi.innerHTML = `
            <p>${data.jugador1}</p>
            <p>VS</p>
            <p>${data.jugador2}</p>`;
          const aVotar = document.createElement("a");
          const btnVotar = document.createElement("button");
          btnVotar.textContent = "Votar";
          btnVotar.classList.add("btn", "btn-outline-light");
          aVotar.setAttribute("href", "/api/votacion/" + data.idPartida);
          aVotar.classList.add("w-25");
          aVotar.appendChild(btnVotar);
          divLi.appendChild(aVotar);
          listadoPartida.appendChild(divLi);
        } catch (error) {
          console.error(error.message);
        }
      });
    </script>
  </body>
</html>
<script type="text/javascript">
  const btnVolverAJugar = document.getElementById("btnVolverAJugar");

  btnVolverAJugar.addEventListener("click", function () {
    window.location.href = "/";
  });
</script>
