<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/jquery/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/resources/css/footer.css" />
    <link rel="stylesheet" href="/resources/css/app.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/resources/js/includeFooter.js"></script>
    <title>Login</title>
  </head>
  <body>
    <main class="d-flex align-items-center justify-content-center">
      <div class="d-flex row justify-content-center m-5 align-items-center">
        <div class="d-flex w-75 justify-content-center m-5">
          <h1>¡Ingresa a tu cuenta!</h1>
        </div>
        <form id="loginForm" class="w-auto">
          <div class="form-group m-3">
            <label for="email">Correo Electrónico:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="correo@example.com"
              required
            />
          </div>
          <div class="form-group m-3">
            <label for="password">Contraseña:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              required
            />
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-outline-light m-3">
              Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer
      class="border-top align-content-center"
    ></footer>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#loginForm").submit(function (event) {
          event.preventDefault();

          var email = $("#email").val();
          var password = $("#password").val();

          $.ajax({
            url: "/api/auth/login",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ email: email, password: password }),
            success: function (response) {
              if (response.auth) {
                //Emitir crear sesión para admin
                window.location.href = "/api/auth/lobby";
              } else {
                alert("Login fallido");
              }
            },
            error: function (xhr) {
              alert("Error: " + xhr.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>