<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/resources/css/footer.css" />
    <link rel="stylesheet" href="/resources/css/app.css" />
    <link rel="stylesheet" href="/resources/css/partida.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/resources/js/temporizador.js"></script>
    <script src="/resources/js/API.js"></script>
    <script src="/resources/js/includeFooter.js"></script>
    <script
      src="/socket/client-dist/socket.io.js"
      crossorigin="anonymous"
    ></script>
    <title>Partida</title>
  </head>
  <body>
    <div id="info"><h1>Cargando...</h1></div>
    <div id="error" hidden></div>     
    <main hidden>
      <h1 class="d-flex justify-content-center p-2">Partida</h1>
      <button
          type="submit"
          class="btn btn-outline-light"
          id="btnVolver"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
        </button>
      <div class="parent">
        <div class="div1">
        </div>
        <div class="div2">
          <h2 id="timer" class="display-1">00:00</h2>
        </div>
        <div class="div3">
          <p>Tematica actual :</p>
            <label id="tematicaElegida">...</label>
        </div>
        <div class="div4">
          <div class="form-floating">
            <textarea
              class="form-control h-100 row ms-0"
              placeholder="Leave a comment here"
              id="floatingTextarea"
            ></textarea>
            <label for="floatingTextarea"
              >Sé muy creativo mucha suerte!!</label
            >
          </div>
          <div class="d-flex row-gap-4 flex-column justify-content-center align-items-center">
            <button
            type="submit"
            class="btn btn-outline-light w-25"
            id="btnGenerar"
            >
            Generar
          </button>
          <button
          type="submit"
          class="btn btn-outline-light w-50"
          disabled
          id="btnResultado"
          >
          Elegir imagen
        </button>
      </div>
         </div>
        <div class="div5">
          <div id="divImagenesGeneradas" class="m-5">
             </div>
        </div>
    </main>
    <footer
      class="border-top align-content-center"
    ></footer>
    <script type="text/javascript">

      var socket = io.connect();
      var llamadas = 0;
      const btnGenerar = document.getElementById("btnGenerar");
      const btnResultado = document.getElementById("btnResultado");
      const divImagenes = document.getElementById("divImagenesGeneradas");
      const btnVolver = document.getElementById("btnVolver");
      const tematicaElegida = document.getElementById("tematicaElegida");
      const textArea = document.querySelector("textarea");
      const id = window.location.pathname.split("/")[3];
      const divInfo = document.getElementById("info");
      const divError = document.getElementById("error");
      const main = document.querySelector("main");
      btnGenerar.addEventListener("click", () => {
        var prompt = document.getElementById("floatingTextarea").value;
        let imagenesEnviar = [];
        if (llamadas < 2) {
          if(prompt === undefined || prompt.trim() == ''){
            alert("Por favor, introduce un texto para generar la imagen.");
            return;
          }
          var urls = generarImagenes(prompt, cantImagenes);
          llamadas++;
          socket.emit('jugadorImagenes', {
            idPartida: id,
            aliasJugador: localStorage.getItem('aliasJugador'),
            imagenes: urls 
          });
          
          urls.forEach((url, index) => {
            const divImagen = document.createElement("div");
            divImagen.classList.add("image-container");

            const loader = document.createElement("div");
            loader.classList.add("loader");
            divImagen.appendChild(loader);

            const nuevaImagen = document.createElement('img');
            nuevaImagen.src = url;
            nuevaImagen.onclick = function() {
              if(nuevaImagen.classList.contains("seleccionada")) {
                nuevaImagen.classList.remove("seleccionada");
                btnResultado.setAttribute("disabled", "disabled");
                return;
              }
              divImagenes.childNodes.forEach((div) =>{
                if(div.nodeName == "DIV"){
                  if(div.children[1].classList.contains("seleccionada")){
                    div.children[1].classList.remove("seleccionada");
                    return;
                  }
                }
              });
                nuevaImagen.classList.add("seleccionada");
              btnResultado.removeAttribute("disabled");
            };
            nuevaImagen.classList.add("imagenesGeneradas");

            nuevaImagen.onload = () =>{
              loader.style.display = "none";
              nuevaImagen.style.display = "block";
            }

            divImagen.appendChild(nuevaImagen);
            divImagenes.appendChild(divImagen);
          });
        } else {
          alert("Has alcanzado el límite de llamadas permitidas.");
        }
      });

      btnVolver.addEventListener("click", function(){
        window.location.href = "/";
      });
      
      btnResultado.addEventListener("click", function() {
        const img = document.querySelector("img.seleccionada");
        if (btnResultado.classList.contains("resultadoActivo")) {
          img.classList.remove("elegida");
          btnResultado.textContent = "Elegir imagen";
          btnResultado.classList.remove("resultadoActivo");
          return;
        }
        if (img) {
          img.classList.add("elegida");
          btnResultado.textContent = "Cancelar selección";
          btnResultado.classList.add("resultadoActivo");
        }
      });

      document.addEventListener("DOMContentLoaded", async function () {
        try {
          const id = window.location.pathname.split("/")[3];
          const response = await 
          fetch("http://localhost:1234/api/datosPartida/" + id,
            {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
            }
          );
          const responseData = await response.json();
          if (!response.ok) {
            divError.textContent = "Ha surgido un problema con la partida";
            divError.removeAttribute("hidden");
            divInfo.setAttribute("hidden", "true");
          }
          if (responseData) {
            //Cargar temporizador
            iniciarTemporizador(responseData.tiempo);
            //Cargar tematica
            tematicaElegida.textContent = responseData.tematica;
            //Cargar cant imagenes a generar
            cantImagenes = responseData.cantImagenes;
            divInfo.setAttribute("hidden", "true");
            main.removeAttribute("hidden");
          }
        } catch (error) {
          console.error(error);
        }
      });

      textArea.addEventListener("keyup", function() {
        socket.emit('jugadorEscribe', {
          idPartida: id,
          aliasJugador: localStorage.getItem('aliasJugador'),
          text: textArea.value
        });
      });


      socket.on('finalizarPartida', function(data) {
        //obtener imagen seleccionada
        const id = window.location.pathname.split("/")[3];
        if (data.idPartida == id) {
          const imgSeleccionada = document.querySelector('img.elegida');
          let valorEnviar;
          if (imgSeleccionada) {
            valorEnviar = imgSeleccionada.getAttribute('src');
          }
          socket.emit('jugadorFinalizaPartida', {
            idPartida: id,
            valorEnviado: valorEnviar,
            jugadorQueEnvia: localStorage.getItem('aliasJugador')
          });
          localStorage.removeItem('aliasJugador');
          localStorage.clear();
          //esperar 2 segundos y redirect a votacion de idPartida
          window.location.href = `/api/votacion/${id}`;
          
        }
      });
    </script>
  </body>
</html>
