<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/resources/css/footer.css" />
    <link rel="stylesheet" href="/resources/css/app.css" />
    <link rel="stylesheet" href="/resources/css/votacion.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap"
      rel="stylesheet"
    />
    <script src="/jquery/jquery.min.js"></script>
    <script src="/resources/js/includeFooter.js"></script>
    <script
      src="/socket/client-dist/socket.io.js"
      crossorigin="anonymous"
    ></script>
    <title>Votación</title>
  </head>
  <body>
    <div class="info"></div>
    <div class="error" hidden></div>
    <main hidden>
      <a href="/api/auth/lobby" class="btnLobby" hidden>
        <button class="btn btn-outline-light">Lobby</button>
      </a>
      <h1 class="d-flex justify-content-center p-2">Votación</h1>
      <div class="parent">
        <div class="div1">
          <div class="card text-center bg-black">
            <div class="card-header degradezGrisIzq divJugador1">
              <!-- alias1 -->
            </div>
            <div class="card-body d-flex flex-column align-items-center">
              <img
                src="/resources/Images/logoUtec.png"
                alt="Imagen IA 1"
                class="imgJug1 row"
              />
              <button
                type="submit"
                class="btn btn-outline-light row mt-3"
                id="btnVotarJug1"
                hidden
                disabled
              >
                Determinar jugador
              </button>
              <button
                type="submit"
                class="btn btn-outline-light row mt-3"
                id="btnVotarPublicoJug1"
                hidden
                disabled
              >
                Votar
              </button>
            </div>
            <div
              class="card-footer text-body-secondary degradezGrisIzq d-inline-grid"
              id="votosJug1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="yellow"
                class="bi bi-stars"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
                />
              </svg>
              <p>0</p>
            </div>
          </div>
        </div>
        <div class="div2">
          <div class="card text-center bg-black">
            <div class="card-header degradezGrisDer divJugador2">
              <!-- alias2 -->
            </div>
            <div class="card-body d-flex flex-column align-items-center">
              <img
                src="/resources/Images/logoUtec.png"
                alt="Imagen IA 2"
                class="imgJug2"
              />
              <button
                type="submit"
                class="btn btn-outline-light row mt-3"
                id="btnVotarJug2"
                hidden
                disabled
              >
                Determinar ganador
              </button>
              <button
                type="submit"
                class="btn btn-outline-light row mt-3"
                id="btnVotarPublicoJug2"
                hidden
                disabled
              >
                Votar
              </button>
            </div>
            <div
              class="card-footer text-body-secondary degradezGrisDer d-inline-grid"
              id="votosJug2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="yellow"
                class="bi bi-stars"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
                />
              </svg>
              <p>0</p>
            </div>
          </div>
        </div>
        <div class="div3 divPostFinalizacion" hidden>
          <div class="d-flex text-center divGanador"></div>
          <button
            type="submit"
            class="btn btn-outline-light mt-4"
            id="btnVolverAJugar"
          >
            ¡Volver a jugar!
          </button>
        </div>
      </div>
    </main>
    <footer class="border-top align-content-center"></footer>
    <script type="text/javascript">
      var socket = io.connect();
      const id = window.location.pathname.split("/")[3];
      const divInfo = document.getElementById("info");
      const divError = document.getElementById("error");
      const main = document.querySelector("main");
      const divJugador1 = document.querySelector("div.divJugador1");
      const divJugador2 = document.querySelector("div.divJugador2");
      const imgJug1 = document.querySelector("img.imgJug1");
      const imgJug2 = document.querySelector("img.imgJug2");
      const btnVotarJug1 = document.querySelector("button#btnVotarJug1");
      const btnVotarPublicoJug1 = document.querySelector(
        "button#btnVotarPublicoJug1"
      );
      const btnVotarJug2 = document.querySelector("button#btnVotarJug2");
      const btnVotarPublicoJug2 = document.querySelector(
        "button#btnVotarPublicoJug2"
      );
      const btnLobby = document.querySelector("a.btnLobby");
      const btnVolverAJugar = document.querySelector("button#btnVolverAJugar");
      const votosJug1 = document.querySelector("div#votosJug1");
      const votosJug2 = document.querySelector("div#votosJug2");
      const divPostFinalizacion = document.querySelector(
        "div.divPostFinalizacion"
      );
      const p1 = votosJug1.querySelector("p");
      const p2 = votosJug2.querySelector("p");
      document.addEventListener("DOMContentLoaded", async function () {
        try {
          const response = await fetch(
            `http://localhost:1234/api/datosPartida/${id}`,
            {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
            }
          );
          const responseData = await response.json();
          if (!response.ok) {
            //Cargar problema en div error
            divInfo.setAttribute("hidden", "true");
            divError.textContent = "Error al cargar la partida";
            divError.removeAttribute("hidden");
          } else if (responseData) {
            main.removeAttribute("hidden");
            //Emitir evento para cargar partida en lista partidas
            if (document.cookie.startsWith("token")) {
              //Utilizar /me2 para verificar token
              btnLobby.removeAttribute("hidden");
              if (responseData.tipoVoto != "manual") {
                console.log('initVotacion');
                socket.emit("initVotacion", {
                  idPartida: responseData._id,
                  jugador1: responseData.jugador1,
                  jugador2: responseData.jugador2
                });
              }
            }

            if (!responseData.ganador) {
              if (responseData.tipoVoto == "manual") {
                if (document.cookie.startsWith("token")) {
                  btnVotarJug1.removeAttribute("hidden");
                  btnVotarJug1.removeAttribute("disabled");
                  btnVotarJug2.removeAttribute("hidden");
                  btnVotarJug2.removeAttribute("disabled");
                }
                votosJug1.setAttribute("hidden", "true");
                votosJug1.classList.remove("d-inline-grid");
                votosJug2.setAttribute("hidden", "true");
                votosJug2.classList.remove("d-inline-grid");
              } else {
                btnVotarPublicoJug1.removeAttribute("hidden");
                btnVotarPublicoJug1.removeAttribute("disabled");
                btnVotarPublicoJug2.removeAttribute("hidden");
                btnVotarPublicoJug2.removeAttribute("disabled");
              }
            } else {
              divPostFinalizacion.removeAttribute("hidden");
              divPostFinalizacion.querySelector(
                "div.divGanador"
              ).textContent = `El ganador es: ${responseData.ganador}`;
              votosJug1.setAttribute("hidden", "true");
              votosJug1.classList.remove("d-inline-grid");
              votosJug2.setAttribute("hidden", "true");
              votosJug2.classList.remove("d-inline-grid");
            }
            let hJug1 = document.createElement("h4");
            let hJug2 = document.createElement("h4");
            hJug1.textContent = responseData.jugador1;
            divJugador1.appendChild(hJug1);
            hJug2.textContent = responseData.jugador2;
            divJugador2.appendChild(hJug2);
            if (responseData.imgJug1) {
              imgJug1.setAttribute("src", `${responseData.imgJug1}`);
            }
            if (responseData.imgJug2) {
              imgJug2.setAttribute("src", `${responseData.imgJug2}`);
            }
          }
        } catch (error) {
          console.error("Error:", error.message);
        }
      });

      document.addEventListener("click", function (evt) {
        if (evt.target.id == "btnVolverAJugar") {
          window.location.href = "/";
        }

        if (evt.target.id == "btnVotarJug1") {
          socket.emit("ganadorVotacion", {
            idPartida: id,
            ganador: divJugador1.children[0].textContent,
          });
        } else if (evt.target.id == "btnVotarJug2") {
          socket.emit("ganadorVotacion", {
            idPartida: id,
            ganador: divJugador2.children[0].textContent,
          });
        } else if (evt.target.id == "btnVotarPublicoJug1") {
          btnVotarPublicoJug1.setAttribute("disabled", "true");
          btnVotarPublicoJug1.textContent = "✔";
          btnVotarPublicoJug2.setAttribute("disabled", "true");
          btnVotarPublicoJug2.textContent = "❌";
          socket.emit("sumarVoto", { idPartida: id, jugadorAvotar: 1 });
        } else if (evt.target.id == "btnVotarPublicoJug2") {
          btnVotarPublicoJug1.setAttribute("disabled", "true");
          btnVotarPublicoJug1.textContent = "❌";
          btnVotarPublicoJug2.setAttribute("disabled", "true");
          btnVotarPublicoJug2.textContent = "✔";
          socket.emit("sumarVoto", { idPartida: id, jugadorAvotar: 2 });
        }
      });

      socket.on("actualizarVotos", function (data) {
        if (data.idPartida == id) {
          console.log(data.votacion);
          p1.innerText = data.votacion.jugador1;
          p2.innerText = data.votacion.jugador2;
        }
      });

      socket.on("iniciarVotacion", function (data) {
        if (data == id) {
          btnVotarPublicoJug1.removeAttribute("hidden");
          btnVotarPublicoJug1.removeAttribute("disabled");
          btnVotarPublicoJug2.removeAttribute("hidden");
          btnVotarPublicoJug2.removeAttribute("disabled");
        }
      });

      socket.on("finalizarVotacion", function (data) {
        if (data.idPartida == id) {
          divPostFinalizacion.removeAttribute("hidden");
          if (data.ganador == "empate") {
            divPostFinalizacion.querySelector("div.divGanador").textContent =
              "¡Empate!";
          } else {
            divPostFinalizacion.querySelector(
              "div.divGanador"
            ).textContent = `El ganador es: ${data.ganador}`;
          }
          btnVotarJug1.setAttribute("hidden", "true");
          btnVotarJug1.setAttribute("disabled", "true");
          btnVotarJug2.setAttribute("hidden", "true");
          btnVotarJug2.setAttribute("disabled", "true");
          btnVotarPublicoJug1.setAttribute("hidden", "true");
          btnVotarPublicoJug1.setAttribute("disabled", "true");
          btnVotarPublicoJug2.setAttribute("hidden", "true");
          btnVotarPublicoJug2.setAttribute("hidden", "true");
          if (!data.votacion) {
            votosJug1.setAttribute("hidden", "true");
            votosJug1.classList.remove("d-inline-grid");
            votosJug2.setAttribute("hidden", "true");
            votosJug2.classList.remove("d-inline-grid");
          }
        }
      });
    </script>
  </body>
</html>
