<div class="d-flex justify-content-between align-items-center flex-wrap">
  <div>
    <img
      src="/resources/Images/logoUtec.png"
      alt="logoUtec"
      class="footer-image mx-4"
    />
  </div>
  <div>
    <p class="mb-0">
      <a href="https://www.fing.edu.uy/tecnoinf/paysandu/index.html" data-replace="Tecnólogo en Informática Paysandú" target="_blank"
        ><span>Tecnólogo en Informática Paysandú</span></a
      >
    </p>
    <p class="m-0">Franco Sancristóbal - Angelo Festino</p>
  </div>
  <p class="mx-4 my-0">2024</p>
</div>