.listadoPartida{
   width: 50vw;
   border-radius: 4px;
   min-height: 40vh;
   max-height: 50vh;
   margin-top: 5vh;
}

#btnVolverAJugar{
   position: absolute;
   width: 25vw;
   left: 37.5vw;
   right: 37.5vw;
   top: 70vh;
}