.listadoPartida{
   width: 50vw;
   border-radius: 4px;
   min-height: 40vh;
   max-height: 50vh;
   margin-top: 2vh;
}

#btnVolverAJugar{
   position: absolute;
   width: 25vw;
   left: 37.5vw;
   right: 37.5vw;
   top: 70vh;
}

.divJugadores{
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.divbtnVotar{
   width: 30%;
   display: flex;
   justify-content: center;
   align-content: center;
}

.alineacionFilas{
   width: 100%;
}

.parrafos{
   margin: 0;
   width: 20%;
   overflow-x:hidden;
   text-align: center;
}