ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

a > li {
    cursor: pointer;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
}
a > li:hover {
    background-color: #2f2222;
    border-radius: 20px;
}

main {
    padding: 2%;
}

.divIzquierda, .divDerecha {
    width: 45%;
}