main {
	padding: 2%;
}

@media (max-width: 767px) {
    .divIzq, .divDer {
        background-color: rgba(71, 53, 53, 0.441);
        border-radius: 10px;
    }

    body {
        height: auto !important;
    }
}

ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

#listaTemas {
	line-height: 2.5ch;
    height: 200px;
}

#listaJugadores {
    line-height: 2.5ch;
    height: 200px;
}

#btnCerrarSesion {
	position: absolute;
	margin: 3%;
	right: 15px;
	top: 10px;
}

#btnIniciarPartida {
    width: fit-content;
}

legend {
    margin: 0;
    font-size: 1em;
}

.contenedor {
	height: 70vh;
	justify-content: center;
}

@media (max-width: 767px) {
    .contenedor {
        height: 100% !important;
    }

    #listaJugadores, #listaTemas {
        line-height: 24px;
    }
}

.select2 {
	height: 31px !important;
}

.divTemas {
    @media (max-width: 1023px) {
        height: 250px !important;
    }
}

.divJugs {
    @media (max-width: 1023px) {
        height: 250px !important;
    }
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background-color: rgba(52, 49, 49, 0.549) !important;
}

hr {
	color: white !important;
	opacity: 0.75;
}
