main {
    padding: 2%;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.divIzquierda-arriba {
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas:
        "header"
        "lista"
        "lista"
    ;

    .divIA-texto {
        grid-area: header;
        align-self: center;
    }

    #listaTemas {
        grid-area: lista;
        overflow-y: auto;
        align-content: center;
        line-height: 2.5ch;
    }
}

.divIzquierda-abajo {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;

    #cargarTemas {
        width: 100%;
        grid-column: -3;
    }

    #btnCargarTemas {
        grid-column-start: -2;
    }
}

.divDerecha-arriba {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas:
        "header1    header2"
        "listaJugadores select2 "
        "listaJugadores opciones";
    column-gap: 10px;

    #divDA-seleccionaJugadores {
        grid-area: header2;
        align-self: end;
    }

    #divDA-opcionesTexto {
        margin: 0;
    }

    hr {
        color: white !important;
        opacity: .75;
    }

    #divDA-opcionesPartida {
        grid-area: opciones;
        align-self: center;

        legend {
            margin: 0;
            font-size: 1em;
        }
    }

    #divDA-textLista {
        grid-area: header1;
        align-self: end;
    }

    #listaJugadores {
        grid-area: listaJugadores;
        overflow-y: auto;
        align-content: center;
        line-height: 2.5ch;
    }

    .selectJugadores {
        grid-area: select2;
        align-content: start;
        max-height: 40px;
    }
}

.divDerecha-abajo {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;
    justify-self: center;
}

.contenedor {
    height: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 1fr;
}