.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  img {
    width: 200px;
    height: 200px;
  }
  .card-footer p {
    font-size: xx-large;
  }
}
.div2 {
  grid-area: 1 / 2 / 6 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  img {
    width: 200px;
    height: 200px;
  }
  .card-footer p {
    font-size: xx-large;
  }
}
.div3 {
  grid-area: 6 / 1 / 7 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.degradezRojoIzq {
  background: rgb(5, 5, 5);
  background: linear-gradient(
    121deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(108, 9, 9, 1) 88%,
    rgba(251, 0, 0, 1) 100%
  );
}

.degradezRojoDer {
  background: rgb(5, 5, 5);
  background: linear-gradient(
    230deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(108, 9, 9, 1) 88%,
    rgba(251, 0, 0, 1) 100%
  );
}
